/* Plinko
 * Stylesheet
 */

:root {
  --bg-primary: #0a0a22;

  --bg-hole-number: #80b080;

  --font-primary: #ffefff;

  --font-hole-number: #000000;
}

html {
  min-width: 100%;
  height: 100%;

  background-color: var(--bg-primary);
}

body {
  margin: 0;
}

#header {
  text-align: center;
}

#header-title {
  color: var(--font-primary);
}

#wrapper {
  width: 100%;
}

#canvas {
  display: block;
  margin: 0 auto;
}

#btn-release {
  display: block;
  margin: 0 auto;

  width: 256px;
}
